body {
	font-family: Helvetica, Sans-Serif;
}

.hello {
	text-align: left;
}

.hello:hover {
	text-shadow: 1px 2px 6px #999999;
	text-align: left;
}

#mainWrapper {
	width:40%;
	margin: 0 auto;
	font-family: Helvetica-Light;
}